<%- include("../partials/header.ejs") %>

<form class="edit-veh-form" action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="exampleInputEmail1">Enter First Name</label>
        <input name="first_name" type="text" class="form-control" placeholder="First Name" required />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Last Name</label>
        <input name="last_name" type="text" class="form-control" placeholder="Last Name" required />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Birthday</label>
        <input name="birth" type="text" class="form-control" placeholder="Birthday" required />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Ethnicity</label>
        <select name="ethnicity" class="form-control">
            <% ethnicities.forEach(ethnicity => { %>
            <option value="<%= ethnicity.ethnicity %>"><%= ethnicity.ethnicity %></option>
            <% }) %>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Enter Gender</label>
        <select name="gender" class="form-control">
            <% genders.forEach(gender => { %>
            <option value="<%= gender.gender %>"><%= gender.gender %></option>
            <% }) %>
        </select>
        <!-- <input name="gender" type="text" class="form-control" placeholder="Gender" required /> -->
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Hair Color</label>
        <input name="hair" type="text" class="form-control" placeholder="Hair Color" required />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Eye Color</label>
        <input name="eyes" type="text" class="form-control" placeholder="Eye Color" required />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Address</label>
        <input name="address" type="text" class="form-control" placeholder="Address" required />
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Enter Height</label>
        <input name="height" type="text" class="form-control" placeholder="Height" />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Enter Weight</label>
        <input name="weight" type="text" class="form-control" placeholder="Weight" />
    </div>
    <a href="/citizen" class="btn cancel-btn btn-danger float-right">Cancel</a>
    <button type="submit" class="btn btn-success float-right margin-right-10">Add Citizen</button>
</form>