<%- include("../partials/header.ejs") %>

<h1 class="card-title">Citizens <a href="/citizen/add">+</a> </h1>
<div class="users-list">
    <ul class="list-group" id="myUL">
        <a class="btn btn-primary " href="/cars/register">register a car</a>
        <a class="btn btn-primary top-1" href="/weapons/register">register a weapon</a>
        <% citizen.forEach(value => { %>
        <li class="list-group-item">

            <%= value.id %> | <%= value.first_name %> <%= value.last_name %> | <%= value.birth %>
            <a href="/citizens/<%= value.id %>-<%= value.first_name %>-<%= value.last_name %>"
                class="btn btn-success float-right">More Info</a>
        </li>

        <% }) %>
    </ul>
</div>