<%- include("../partials/header.ejs") %>

<form
  class="container text-light mt-2"
  action=""
  method="post"
  enctype="application/x-www-form-urlencoded"
>
  <% if(message != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Full Name</label>
    <input
      name="full_name"
      type="text"
      class="form-control bg-dark border-dark text-light pn"
      placeholder="Full Name"
      value="<%= username[0].full_name %> "
      minlength="1"
      maxlength="255"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Birthday</label>
    <input
      name="birth"
      type="text"
      class="form-control bg-dark border-dark text-light"
      placeholder="Birthday"
      required
      value="<%= current[0].birth %> "
      minlength="1"
      maxlength="255"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Ethnicity</label>
    <select
      name="ethnicity"
      class="form-control bg-dark border-dark text-light"
      slot="<%= current.ethnicity %>"
    >
      <option selected value="<%= current[0].ethnicity %>"
        ><%= current[0].ethnicity %></option
      >
      <option disabled value="---------">---------</option>
      <% ethnicities.forEach(ethnicity => { %>
      <option value="<%= ethnicity.name %>"
        ><%= ethnicity.name %></option
      >
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Enter Gender</label>
    <select
      name="gender"
      class="form-control bg-dark border-dark text-light"
      r="<%= current.gender %> "
    >
      <option selected value="<%= current[0].gender %>"
        ><%= current[0].gender %></option
      >
      <option disabled value="---------">---------</option>
      <% genders.forEach(gender => { %>
      <option value="<%= gender.gender %>"><%= gender.gender %></option>
      <% }) %>
    </select>
    <!-- <input name="gender" type="text" class="form-control" placeholder="Gender" required /> -->
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Hair Color</label>
    <input
      name="hair"
      type="text"
      class="form-control bg-dark border-dark text-light"
      placeholder="Hair Color"
      required
      value="<%= current[0].hair_color %>"
      minlength="1"
      maxlength="255"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Eye Color</label>
    <input
      name="eyes"
      type="text"
      class="form-control bg-dark border-dark text-light"
      placeholder="Eye Color"
      required
      value="<%= current[0].eye_color %>"
      minlength="1"
      maxlength="255"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Address</label>
    <input
      name="address"
      type="text"
      class="form-control bg-dark border-dark text-light"
      placeholder="Address"
      required
      value="<%= current[0].address %>"
      minlength="1"
      maxlength="255"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Enter Height</label>
    <input
      name="height"
      type="text"
      class="form-control bg-dark border-dark text-light"
      placeholder="Height"
      value="<%= current[0].height %>"
      minlength="1"
      maxlength="255"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Weight</label>
    <input
      name="weight"
      type="text"
      class="form-control bg-dark border-dark text-light"
      placeholder="Weight"
      value="<%= current[0].weight %>"
      minlength="1"
      maxlength="255"
    />
  </div>

  <!-- Licences -->
  <div class="form-group">
    <label for="exampleInputEmail1">Drivers License</label>
    <select name="dmv" class="form-control bg-dark border-dark text-light">
      <option selected value="<%= current[0].dmv %>"
        ><%= current[0].dmv %></option
      >
      <option disabled value="---------">---------</option>
      <% dmvs.forEach(dmv => { %>
      <option value="<%= dmv.status %>"><%= dmv.status %></option>
      <% }) %>
      <option value="none">None</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Firearms License</label>
    <select name="fire" class="form-control bg-dark border-dark text-light">
      <option selected value="<%= current[0].fire_license %>"
        ><%= current[0].fire_license %></option
      >
      <option disabled value="---------">---------</option>
      <% dmvs.forEach(dmv => { %>
      <option value="<%= dmv.status %>"><%= dmv.status %></option>
      <% }) %>
      <option value="none">None</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Pilots License</label>
    <select name="pilot" class="form-control bg-dark border-dark text-light">
      <option selected value="<%= current[0].pilot_license %>"
        ><%= current[0].pilot_license %></option
      >
      <option disabled value="---------">---------</option>
      <% dmvs.forEach(dmv => { %>
      <option value="<%= dmv.status %>"><%= dmv.status %></option>
      <% }) %>
      <option value="none">None</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">CCW License</label>
    <select name="ccw" class="form-control bg-dark border-dark text-light">
      <% if (current[0].ccw === '') { %>

        <%} else { %>
        <option selected value="<%= current[0].ccw %>"
          ><%= current[0].ccw %></option
        >
        <option disabled value="---------">---------</option>
        <%} %>
      
      <% dmvs.forEach(dmv => { %>
      <option value="<%= dmv.status %>"><%= dmv.status %></option>
      <% }) %>
      <option value="none">None</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary float-right margin-right-10">
    Edit Citizen
    </button>
  <a
    href="/citizen"
    class="btn cancel-btn btn-danger float-right"
    >Cancel</a
  >
</form>

<div class="mb-4"></div>
