<%- include("../partials/header.ejs") %>

<form class="add-player-form" action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Vehicle Plate</label>
            <input type="text" class="form-control uppercase" name="plate" id="first-name" placeholder="Vehicle Plate"
                required>

        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Vehicle</label>
            <input list="vehicles" type="text" class="form-control" name="vehicle" id="first-name" placeholder="Vehicle"
                required>
            <datalist id="vehicles">
                <% vehicles.forEach(vehicle => { %>
                <option value="<%= vehicle.cname %>"></option>
                <% }) %>
            </datalist>
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Owner Name</label>
            <input list="owners" type="text" class="form-control" name="owner" id="first-name"
                placeholder="Vehicle Owner" required>
            <datalist id="owners">
                <% owners.forEach(owner => { %>
                <option value="<%= owner.first_name %> <%= owner.last_name %>  "></option>
                <% }) %>
            </datalist>
        </div>

        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Insurance status</label>
            <input list="i-status" type="text" class="form-control" name="in_status" id="first-name"
                placeholder="Insurance status" required>
            <datalist id="i-status">
                <% in_status.forEach(status => { %>
                <option value="<%= status.status %>"></option>
                <% }) %>
            </datalist>
        </div>
    </div>
    <div class="form-row">
    </div>
    <button type="submit" class="btn btn-primary float-right">Register Vehicle</button>
    <a class="btn btn-danger cancel-btn float-right" href="/citizen">Cancel</a>
</form>