<%- include("../partials/header.ejs") %>

<form
  class="add-player-form text-light"
  action=""
  method="post"
  enctype="application/x-www-form-urlencoded"
>
<% if(message != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <% } %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">Vehicle Plate</label>
      <input
        type="text"
        class="form-control uppercase bg-dark border-dark text-light"
        name="plate"
        id="first-name"
        placeholder="Vehicle Plate"
        required
        minlength="1"
        maxlength="8"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">Vehicle Color</label>
      <input
        type="text"
        class="form-control bg-dark border-dark text-light"
        name="color"
        id="first-name"
        placeholder="Vehicle Color"
        required
      />
    </div>
    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">Vehicle</label>
      <input
        list="vehicles"
        type="text"
        class="form-control bg-dark border-dark text-light"
        name="vehicle"
        id="first-name"
        placeholder="Vehicle"
        required
      />
      <datalist id="vehicles">
        <% vehicles.forEach(vehicle => { %>
        <option value="<%= vehicle.cname %>"></option>
        <% }) %>
        <% defaults.forEach(vehicle => { %>
        <option value="<%= vehicle.cname %>"></option>
        <% }) %>
      </datalist>
    </div>
    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">Vehicle Owner</label>
      <input
        list="owners"
        type="text"
        class="form-control bg-dark border-dark text-light"
        name="owner"
        id="first-name"
        placeholder="Vehicle Owner"
        required
      />
      <datalist id="owners">
        <% owners.forEach(name => { %>
        <option value="<%= name.full_name %>"></option>
        <% }) %>
      </datalist>
    </div>

    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">Insurance status</label>
      <input
        list="i-status"
        type="text"
        class="form-control bg-dark border-dark text-light"
        name="in_status"
        id="first-name"
        placeholder="Insurance status"
        required
      />
      <datalist id="i-status">
        <% in_status.forEach(status => { %>
        <option value="<%= status.status %>"></option>
        <% }) %>
      </datalist>
    </div>
    <div class="form-group col-md-4">
      <label for="exampleInputEmail1">(Only if selected company) Select Company</label>
      <input
        list="companies"
        type="text"
        class="form-control bg-dark border-dark text-light"
        name="companies"
        id="first-name"
        placeholder="Company Name"
      />
      <datalist id="companies">
        <% companies.forEach(company => { %>
        <option value="<%= company.business_name %>"></option>
        <% }) %>
      </datalist>
    </div>
  </div>
  <div class="form-row"></div>
  <button type="submit" class="btn btn-primary float-right">
    Register Vehicle
  </button>
  <a
    class="btn btn-danger cancel-btn float-right"
    href="/cad/<%= cadId %>/citizen"
    >Cancel</a
  >
</form>
