<%- include("../../partials/header.ejs") %>

<div class="container mt-2">
    <ul class="list-group">

        <% if(message != ''){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            
        <!-- Join Company -->
        <button class="btn text-dark no-out btn-primary list-group-item" data-target="#joinCompany"
            data-toggle="modal">Join a Company</button>

        <!-- Join Company Modal -->
        <div class="modal fade" id="joinCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Join a Company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/company/join" id="modal" method="post">
                            <div class="form-group">
                                <label for="bus">Select Citizen</label>
                                <select name="citizen_name" id="bus" class="form-control">
                                    <% current.forEach(cur => { %>
                                    <option value="<%= cur.full_name %>"><%= cur.full_name %></option>
                                    <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bus">Current Businesses</label>
                                <select name="join_business" id="bus" class="form-control">
                                    <% businesses.forEach(bus => { %>
                                    <option value="<%= bus.business_name %>"><%= bus.business_name %></option>
                                    <%}) %>
                                </select>
                            </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Join</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Start own business -->
        <button class="btn text-dark no-out btn-primary list-group-item mt-2" data-target="#plateSearch"
            data-toggle="modal">Start your own company</button>

        <div class="modal fade" id="plateSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Start your own company</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/company/create" id="modal" class="needs-validation" method="post">
                            <div class="form-group">
                                <label for="companyName">Enter Company Name</label>
                                <input required type="text" name="companyName" class="form-control" id="plate-search"
                                    placeholder="Company Name">
                            </div>
                            <div class="form-group">
                                <label for="owner">Enter Company Owner</label>
                                <select required name="owner" id="owner" class="form-control">
                                    <% current.forEach(cur => { %>
                                    <option value="<%= cur.full_name %>"><%= cur.full_name %></option>
                                    <%}) %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="whitelisted">Whitelisted</label>
                                <select name="whitelisted" id="whitelisted" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="col-auto my-1">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing"
                                        required>
                                    <label class="custom-control-label" for="customControlAutosizing"> Do you agree that
                                        you are able to take responsibility for your workers
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto my-1">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing2"
                                        required>
                                    <label class="custom-control-label" for="customControlAutosizing2">You agree to: if
                                        you are
                                        currently working somewhere, you will resign there.
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- your companies -->
        <ul class="list-group mt-2 text-light">
            <li class="list-group-item active">Your Companies</li>
            <% if (companies.length > 0) { %>
                <% companies.forEach(company => { %>
                    <li class="list-group-item bg-dark "><span class="bolder">Name:</span> <%= company.business_name %> <br><span class="bolder">Owner:</span> <%= company.business_owner %></li>
                <% }) %>
            <% } else { %>
                <li class="list-group-item bg-dark ">You're not working anywhere</li>
            <% } %>
            
        </ul>
    </ul>
