<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Values
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/cad/<%= cadId %>/admin/values/cars"
        >Vehicles</a
      >
      <a class="dropdown-item" href="/cad/<%= cadId %>/admin/values/genders"
        >Genders</a
      >
      <a class="dropdown-item" href="/cad/<%= cadId %>/admin/values/weapons"
        >Weapons</a
      >
      <a class="dropdown-item" href="/cad/<%= cadId %>/admin/values/ethnicities"
        >Ethnicities</a
      >
      <a class="dropdown-item" href="/cad/<%= cadId %>/admin/values/legal"
        >Legal</a
      >
      <a class="dropdown-item" href="/cad/<%= cadId %>/admin/values/depts"
        >Departments</a
      >
    </div>
  </div>
  <a
  class="navbar-brand text-light margin-left-10"
  href="/cad/<%= cadId %>/admin/action-log"
  >Action Log</a
>
  <% if (isAdmin == 'admin' || isAdmin == 'owner') { %>
  <a
    class="navbar-brand text-light margin-left-10"
    href="/cad/<%= cadId %>/admin/users"
    >Member management</a
  >
  <% } else {%> <%} %> <% if (isAdmin == 'owner') { %>
  <a
    class="navbar-brand text-light"
    href="/cad/<%= cadId %>/admin/edit-cad"
    >CAD settings</a
  >
  <% } else {%> <%} %>
</nav>
