<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta name="description" content="<%= desc %>">
    <link rel="stylesheet" href="/css/style.css" />
    <script
      data-ad-client="ca-pub-7413458526139350"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://kit.fontawesome.com/57b65d1d2a.js"
      crossorigin="anonymous"
    ></script> -->
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">
      <a class="navbar-brand text-light" href="/cad/<%= cadId %>/">SnailyCAD</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon text-light"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-light" href="/cad/<%= cadId %>/myofficers"
              >Police Dept.</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/cad/<%= cadId %>/dispatch"
              >Dispatch</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/cad/<%= cadId %>/ems-fd"
              >EMS/FD</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/cad/<%= cadId %>/citizen"
              >Citizens</a
            >
          </li>

          <% if (isAdmin === 'admin' || isAdmin === 'moderator' || isAdmin ===
          'owner') {%>
          <li class="nav-item">
            <a class="nav-link text-light" href="/cad/<%= cadId %>/admin"
              >Admin
            </a>
          </li>
          <%} else {%>
          <li class="nav-item"></li>
          <%} %>
          <div class="btn-group btn-group-sm nav-item">
            <button
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="btn btn-dark dropdown-toggle"
            >
              Updates <span class="badge badge-light">2</span>
            </button>
            <div class="dropdown-menu">
              <p class="dropdown-item pn">
                - Remade the dispatch page
              </p>
              <p class="dropdown-item pn">
                - Fixed more bugs
              </p>
              <small class="dropdown-item pn border-top border-dark"
                >These messages will disapear after a few days</small
              >
            </div>
          </div>
        </ul>
      </div>
    </nav>

    <!-- <div class="loader-con" id="loader-con">
      <div class="loader" id="loader"></div>
    </div> -->

    <script>
      // let loaderCon = document.getElementById('loader-con');

      // window.onload = function() {
      //   //hide the preloader
      //   loaderCon.style.display = 'none';
      //   document.querySelector('.loader').style.display = 'none';
      // };
      function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById('myUL');
        li = ul.getElementsByTagName('li');
        for (i = 0; i < li.length; i++) {
          a = li[i];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = '';
          } else {
            li[i].style.display = 'none';
          }
        }
      }

      document.body.style.backgroundColor = '#191919';
      console.log('Build Version: v3.1.0');
    </script>
  </body>
</html>
