<%- include("partials/header.ejs") %>

<% if(messageG != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= messageG %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <% } %>
<div class="container row mt-3">
  <form
  class="text-light ml-4 mt-3"
  action="/cad/<%= cadId %>/account/edit/username"
  method="post"
  enctype="application/x-www-form-urlencoded"
>
<h3 class="card-title">Edit Username</h3>
  <div class="form-group">
    <% if(message != ''){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= message %>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <label for="exampleInputEmail1">Username</label>
    <input
      type="text"
      name="username"
      value="<%= req.session.username2 %>"
      class="form-control text-light bg-dark border-dark"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      required
      min="1"
      max="255"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Confirm it's you</label>
    <input
      type="password"
      name="password"
      class="form-control text-light bg-dark border-dark"
      id="exampleInputPassword1"
      placeholder="Password"
      required
      min="1"
      max="255"
    />
  </div>

  <a href="/cad/<%= cadId %>/citizen" class="btn canel-btn btn-danger"
    >Cancel</a
  >
  <button
    type="button"
    class="btn btn-danger bg-danger"
    data-toggle="modal"
    data-target="#deleteModal"
  >
    Delete Account
  </button>
  <button type="submit" class="btn btn-success">Edit Username</button>
</form>

<!-- Password -->
<form
class="text-light ml-4 mt-3"
action="/cad/<%= cadId %>/account/edit/password"
method="post"
enctype="application/x-www-form-urlencoded"
style="width: 20rem;"
>
<div class="form-group">
  <h3 class="card-title">Edit Password</h3>
  <% if(message2 != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message2 %>
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>
  <label for="exampleInputEmail1">Enter Old Password</label>
  <input
    type="password"
    name="old_password"
    class="form-control text-light bg-dark border-dark"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    required
    placeholder="Old Password"
    min="1"
      max="255"
  />
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Enter New Password</label>
  <input
    type="password"
    name="password"
    class="form-control text-light bg-dark border-dark"
    id="exampleInputPassword1"
    placeholder="New Password"
    required
    min="1"
      max="255"
  />
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Confirm New Password</label>
  <input
    type="password"
    name="password2"
    class="form-control text-light bg-dark border-dark"
    id="exampleInputPassword1"
    placeholder="Confirm New Password"
    required
    min="1"
      max="255"
  />
</div>

<a href="/cad/<%= cadId %>/citizen" class="btn canel-btn btn-danger"
  >Cancel</a
>
<button type="submit" class="btn btn-success">Edit Password</button>
</form>
</div>
</div>


<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account Settings</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/cad/<%= cadId %>/delete-account" method="POST">
        <h5 class="card-title">
          Are you sure you want to delete
          <input
            type="text"
            name="username"
            class="deleteAccountD"
            value="<%= req.session.username2 %>"
          />
          <%= %>? This can not be undone.
        </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="submit" class="btn btn-danger">Delete Account</button>
      </div>
    </form>
    </div>
  </div>
</div>
