<%- include("../partials/header.ejs") %>

<div class="container-fluid mt-2">

    <h2 class="card-title text-light">Dispatch - AOP: <%= cad.AOP %></h2>
    <div class="card bg-secondary  mx-auto mb-4">
        <div class="card-header text-light bolder">
            Utility Panel
            <span class="float-right" id="date"></span>
        </div>
        <div class="card-body row ">
            <button class="btn btn-primary  text-light btn-dark bg-dark mt-2" data-target="#nameSearch"
            data-toggle="modal">Name Search | <img class="testing" src="/icons/internal/name_search.png" alt="name"></button>

            <button class="btn btn-primary  text-light btn-dark bg-dark ml-2 mt-2" data-target="#plateSearch"
            data-toggle="modal">Plate Search | <img class="testing" src="/icons/internal/Plate_search.png" alt="plate"></button>

            <button class="btn no-out btn-primary text-light btn-dark bg-dark ml-2 mt-2" data-target="#eSyBFqXnRU"
                data-toggle="modal">Weapon Search | <img class="testing" src="/icons/internal/weapon.png" alt="weapon"></button>

                <button class="btn text-light btn-dark bg-dark no-out btn-primary  ml-2 mt-2" data-target="#addressSearch"
                data-toggle="modal">Address Search  | <img class="testing" src="/icons/internal/Adress_Search.png" alt="bolo"></button>

                <button class="btn text-light btn-dark bg-dark no-out btn-primary  ml-2 mt-2" data-target="#bolo"
                data-toggle="modal">Create Bolo | <img class="testing" src="/icons/internal/bolo.png" alt="bolo"></button>

                <button class="btn text-light btn-dark bg-dark no-out btn-primary  ml-2 mt-2" data-target="#emergencyCall"
                data-toggle="modal">Create 911 Call | <img class="testing" src="/icons/internal/call.png" alt="call"></button>

                <button class="btn text-light btn-dark bg-dark no-out btn-primary  ml-2 mt-2" data-target="#notepad"
                data-toggle="modal">Notepad  | <img class="testing" src="/icons/internal/Notepad.png" alt="notepad"></button>
        </div>
    </div>        <ul class="list-group list-group-flush ">

 <!-- Notepad -->
 <div class="modal fade" id="notepad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark border-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notepad</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea name="notes" id="notes" cols="30" rows="15" class="form-control text-light bg-secondary border-secondary"></textarea>
        <p>This gets reset after a page reload</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary container" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

            <!-- Name Search Modal -->
            <div class="modal fade" id="nameSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                  <div class="modal-content bg-dark border-dark">
                    <div class="modal-header">
                      <h5 class="modal-title text-light" id="exampleModalLabel">Name Search</h5>
                      <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="modal" onsubmit="event.preventDefault(); return nameSearch()">
                          <div class="form-group">
                              <label for="bolo" class="text-light">Name</label>
                              <input type="text" required class="form-control bg-secondary text-light border-secondary" name="name" id="nameSearchIn" placeholder="Search By Name">
                          </div>
                          <div class="container">
                            <div class="row">
                              <div class="col-sm-6">
                                <h6 class="card-title bolder text-light">Person Info</h6>
                                    <div id="personInfo" class="text-light"></div>
                              </div>
                              <div class="col-sm-6">
                                <h6 class="card-title bolder text-light">Licenses</h6>
                                <div id="licenses" class="text-light"></div>
                              </div>
                              <div class="col-sm-6 mt-2">
                                <img src="/citizen-pictures/loading" alt="Search a Citizen" id="citizen_picture" class="rounded-circle" style="width: 100px; height: 100px;">
                            </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <h6 class="card-title bolder text-light mt-3">Written Warnings</h6>
                                    <div id="written_warnings" class="overflow-auto" style="max-height: 15rem;" class="text-light">
          
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <h6 class="card-title bolder text-light mt-3">Tickets</h6>
                                    <div id="tickets" class="overflow-auto" style="max-height: 15rem;" class="text-light">
          
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <h6 class="card-title bolder text-light mt-3">Arrest Reports</h6>
                                    <div id="arrest_reports" class="overflow-auto" style="max-height: 15rem;" class="text-light">
          
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <h6 class="card-title bolder text-light mt-3">Warrants</h6>
                                    <div id="warrants" class="overflow-auto" style="max-height: 15rem;" class="text-light">
          
                                    </div>
                                </div>
                            </div>
                          </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                </form>
                  </div>
                </div>
              </div>
            <!-- Plate Search Modal -->
           
           <!-- Plate Search -->
    <div class="modal fade" id="plateSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-dark border-dark">
            <div class="modal-header">
              <h5 class="modal-title text-light" id="exampleModalLabel">Plate Search</h5>
              <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="modal" onsubmit="event.preventDefault(); return plateSearch()">
                  <div class="form-group">
                      <label for="plate" class="text-light">Plate</label>
                      <input type="text" class="form-control text-light bg-secondary border-secondary" min="1" max="8" maxlength="8" name="plate" id="plateSearchIn" placeholder="Search By Name">
                  </div>
                  <div class="container">
                    <div class="row">
                      <div id="plates" class="text-light"></div>
                    </div>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        </form>
          </div>
        </div>
      </div>
            

          <!-- Weapon Search -->
    <div class="modal fade text-light" id="eSyBFqXnRU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark border-dark">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Weapon Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-light">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="modal" onsubmit="event.preventDefault(); return eSyBFqXnRU()">
              <div class="form-group">
                  <label for="plate" class="text-light">Serial Number</label>
                  <input type="text" class="form-control text-light bg-secondary border-secondary" required min="1" name="serial_number" id="OcWlkeevPB" placeholder="Search By Serial Number">
              </div>
              <div class="container">
                <div class="row">
                  <div id="weapons" class="text-light"></div>
                </div>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    </form>
        </div>
      </div>
    </div>

            <div class="modal fade" id="bolo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark border-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Bolo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/global/dispatch/add-bolo" id="modal" method="post">
                                <div class="form-group">
                                    <label for="bolo">Bolo Description</label>
                                    <textarea name="bolo_desc" id="bolo" cols="30" rows="5" maxlength="1800" minlength="10" class="form-control bg-secondary border-secondary text-light" placeholder="Bolo Description, Min Length of 10 characters"></textarea>
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Create Bolo</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="emergencyCall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark border-dark text-light">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">911 Emergency Service</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/call/dispatch/create-911-call" method="POST">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Call Description</label>
                          <textarea name="description" id="description" cols="30" rows="5" placeholder="Description" class="form-control bg-secondary border-secondary text-light" required></textarea>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Caller Name</label>
                          <input type="text" class="form-control bg-secondary border-secondary text-light" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" name="name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Caller Location</label>
                          <input type="text" class="form-control bg-secondary border-secondary text-light" id="exampleInputPassword1" placeholder="Location" name="location" required>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create Call</button>
                      </form>
                      </div>
                </div>
              </div>
            </div>


            <!-- Adress Search Modal -->
            <div class="modal fade" id="addressSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark border-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Address Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/dispatch/address-search" id="modal" method="post">
                                <div class="form-group">
                                    <label for="address-search">Search By Address</label>
                                    <select name="address_search" id="weapon-search" class="form-control text-light bg-secondary border-secondary"
                                        placeholder="Search By address">
                                        <% address.forEach(add => {%>
                                        <option value="<%= add.address %>"><%= add.address %></option>
                                        <% }) %>
                                    </select>

                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                        </form>
                    </div>
                </div>

                
        </ul>
    </div>




    <div class="container-fluid mx-auto">
        <div class="row">
          <div class="col-8">
            <ul class="list-group scroll-bar overflow-auto" style="max-height: 18rem;">
              <div class="active list-group-item text-light sticky-top">Active Officers</div>
              <% if (officers.length > 0) { %>
               <table class="table table-dark">
                   <thead>
                     <tr>
                       <th scope="col">#</th>
                       <th scope="col">Officer Name</th>
                       <th scope="col">Officer Department</th>
                       <th scope="col">Status</th>
                       <th scope="col">Status</th>
                       <th scope="col">Actions</th>
                     </tr>
                   </thead>
                   <tbody>
                      <% officers.forEach((officer, index) => { %>
                        <tr>
                          <th scope="row"><%= ++index %></th>
                          <td><%= officer.officer_name %></td>
                          <td><%= officer.officer_dept %></td>
                          <td><%= officer.status %></td>
                          <td><%= officer.status2 %></td>
                          <td> <button class="btn btn-primary" data-target="#editStatus<%= officer.id %>" data-toggle="modal">Edit Status</button> </td>
                        </tr>
                        <div class="modal fade" id="editStatus<%= officer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content bg-dark border-dark text-light">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Officer Status</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true" class="text-light">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form action="/dispatch/update-status/<%= officer.id %>" method="POST">
                                    <div class="form-group">
                                      <label for="location">Officer Status</label>
                                      <select name="status" id="status" class="form-control bg-secondary border-secondary text-light cap">
                                        <option value="<%= officer.status %>"><%= officer.status %></option>
                                        <option class="color-light" disabled value="--------">--------</option>
                                        <option class="text-light" value="10-41 | 10-8"
                                        >10-41 | 10-8</option>
                                      <option class="text-light" value="10-42 | 10-7"
                                        >10-42 | 10-7</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputPassword1">Call Status</label>
                                      <select name="status2" id="status2" class="form-control bg-secondary border-secondary text-light cap">
                                        <option value="<%= officer.status2 %>"><%= officer.status2 %></option>
                                        <option disabled value="--------">New Status...</option>
                                        <option class="text-light" value="10-6">10-6</option>
                                        <option class="text-light" value="10-5">10-5</option>
                                        <option class="text-light" value="10-12">10-12</option>
                                        <option class="text-light" value="10-97">10-97</option>
                                        <option class="text-light" value="10-11">10-11</option>
                                        <option class="text-light" value="Signal 11">Signal 11</option>
                                        <option class="text-light" value="Code 5">Code 5</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-success">Update Status</button>
                                  </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    <%}) %>
                    <% } else { %>
                      <li class="list-group-item bg-dark text-light">
                        There're no active officers.
                      </li>
                      <% } %>
                   </tbody>
                 </table>
            </ul>
            <ul class="list-group mt-3 overflow-auto scroll-bar" style="max-height: 18rem" >
              <div class="active list-group-item text-light sticky-top">Active Bolos</div>
              <% if (bolos.length > 0) {%>
                  <% bolos.forEach((bolo, index) => { %>
                      <li class="list-group-item bg-dark text-light">
                             <%= ++index %> | <%= bolo.description %> 
                                <div class="float-right">
                                  <a href="/global/dispatch/delete-bolo-<%= bolo.id %>" class="btn btn-danger">Remove Bolo</a>
                                </div>
                      </li>
                  <%}) %>
              <%} else {%>
                  <li class="list-group-item bg-dark text-light">
                      No Active Bolos
                  </li>
              <%}%>                 
          </ul>
          </div>
          <div class="col">
            <ul class="list-group mb-4" >
                <div class="active list-group-item text-light ">Edit AOP</div>
                <form class="list-group-item bg-dark border-dark text-light " action="/dispatch/update-aop" method="post">
                    <div class="form-group">
                        <label for="input">New AOP</label>
                        <input type="text" id="input" name="aop" placeholder="New Area Of Roleplay" minlength="1" maxlength="255" max="255" min="1" class="form-control bg-dark border-secondary text-light">
                    </div>
                    <button type="submit" class="container btn btn-success">Update AOP</button>
                </form>
            </ul>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <ul class="list-group scroll-bar overflow-auto mt-3" style="max-height: 18rem;">
          <div class="active list-group-item text-light sticky-top">Active 911 Calls</div>
          <% if (calls.length > 0) { %>
           <table class="table table-dark">
               <thead>
                 <tr>
                   <th scope="col">#</th>
                   <th scope="col">Caller Name</th>
                   <th scope="col">Caller Location</th>
                   <th scope="col">Call Description</th>
                   <th scope="col">Unit</th>
                   <th scope="col">Status</th>
                   <th scope="col">Actions</th>
                 </tr>
               </thead>
               <tbody>
                  <% calls.forEach(call => { %>
                    <tr>
                      <th scope="row"><%= call.id %></th>
                      <td><%= call.name %></td>
                      <td><%= call.location %></td>
                      <td><%= call.description %></td>
                      <td><%= call.assigned_unit %></td>
                      <td><%= call.status %></td>
                      <td> <button class="btn btn-primary" data-target="#viewCall<%= call.id %>" data-toggle="modal">View Call  <img class="testing" src="/icons/internal/View_Call.png" alt="10codes"></button> </td>
                    </tr>
                    <div class="modal fade" id="viewCall<%= call.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content bg-dark border-dark text-light">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">View Call</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true" class="text-light">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/global/dispatch/update-911-call-<%= call.id %> " method="POST">
                                <div class="form-group">
                                  <label for="location">Call Location</label>
                                  <input type="text" class="cap form-control bg-secondary border-secondary text-light" name="location" value="<%= call.location %>" id="location" aria-describedby="emailHelp">
                                </div>
                                <div class="form-group">
                                  <label for="officer">Assign Unit </label>
                                  <input type="text" list="officers" name="assigned_unit" class="form-control bg-secondary border-secondary text-light">
                                  <datalist id="officers">
                                    <% officers.forEach(officer => { %>
                                        <option value="<%= officer.officer_name %>"><%= officer.officer_name %></option>
                                    <% }); %>
                                  </datalist>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Call Status</label>
                                  <select name="status" id="status" class="form-control bg-secondary border-secondary text-light cap">
                                    <option value="<%= call.status %>"><%= call.status %></option>
                                    <option disabled value="--------">--------</option>
                                    <option value="assigned">Assigned</option>
                                    <option value="not assigned">Not Assigned</option>
                                  </select>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <a href="/global/dispatch/cancel-911-call-<%= call.id %>" class="container btn btn-danger">End Call</a>
                                <button type="submit" class="container btn btn-success">Update Call</button>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                <%}) %>
                <% } else { %>
                  <li class="list-group-item bg-dark text-light">
                    There're no active calls.
                  </li>
                  <% } %>
               </tbody>
             </table>
        </ul>
       
      </div>

</div>

<div class="mb-4"></div>



<script>
    const xhttp = new XMLHttpRequest();



    setInterval(function() {
        let date = document.getElementById("date")
        let d = new Date()
        let currenttime = d.toLocaleTimeString()
        let currentDate = d.toLocaleDateString()
        date.textContent = currenttime + " - " + currentDate;
    }, 100)

    function nameSearch() {
    const nameSearchInputValue = document.getElementById("nameSearchIn").value
    xhttp.open("GET", `/officers/api/name/${nameSearchInputValue}`, true);
    
    xhttp.onload = function() {
      if (this.status === 200) {
        let result = JSON.parse(this.responseText);

        
      
        let person = '';
        let licenses = '';
        let warrant;

        person += '<ul>' + 
          '<li><span class="bolder mt-1"> Full Name:</span> ' + result[1][0].full_name +'</li>' +
          '<li><span class="bolder mt-1"> Gender:</span> ' + result[1][0].gender +'</li>'+
          '<li><span class="bolder mt-1"> Day of Birth:</span> ' + result[1][0].birth +'</li>'+
          '<li><span class="bolder mt-1"> Ethnicity:</span> ' + result[1][0].ethnicity +'</li>'+
          '<li><span class="bolder mt-1"> Hair Color:</span> ' + result[1][0].hair_color +'</li>'+
          '<li><span class="bolder mt-1"> Eye Color:</span> ' + result[1][0].eye_color +'</li>'+
          '<li><span class="bolder mt-1"> Address:</span> ' + result[1][0].address +'</li>'+
          '<li><span class="bolder mt-1"> Height / Weight: </span> ' + result[1][0].height + " / " + result[1][0].weight + '</li>'+
          '</ul>';
        
        licenses += '<ul>' +
          '<li><span class="bolder mt-1"> Drivers Licenses:</span> ' + result[1][0].dmv +'</li>' +
          '<li><span class="bolder mt-1"> Firearms Licenses:</span> ' + result[1][0].fire_license +'</li>' +
          '<li><span class="bolder mt-1"> Pilot License:</span> ' + result[1][0].pilot_license +'</li>' +
          '<li><span class="bolder mt-1"> CCW:</span> ' + result[1][0].ccw +'</li>' +
          '<li><span class="bolder mt-1"> <a class="btn btn-danger" href=\'/global/dispatch/susdmv/'+ result[1][0].id+'\'> Suspend Drivers License </a> </li>' +
          '</ul>'

           // Written Warnings
           if (result[4].length > 0) {
              let written_warnings = result[4].map(written_warning => {
                return  '<li class="list-group-item"> ' + written_warning.infractions + ' <br />  <span class="bolder">Given On:</span> '+ written_warning.date +'<br /> <span class="bolder">Given By: </span> '+ written_warning.officer_name +' <br /> <span class="bolder">Nearest Postal:</span> '+ written_warning.postal +' </li>'
              });
              document.getElementById("written_warnings").innerHTML = written_warnings.join('\n');
            }  else {
              document.getElementById("written_warnings").innerHTML = '<li class="list-group-item">Person Has No Warnings</li>'
            }


           // Tickets
           if (result[2].length > 0) {
              let tickets = result[2].map(charge => {
                return  '<li class="list-group-item"> ' + charge.charge + ' <br />  <span class="bolder">Given On: </span> '+ charge.date +' <br /> <span class="bolder">Given By: </span> '+ charge.officer_name +' <br /> <span class="bolder">Nearest Postal:</span> '+ charge.postal +'<br /> <span class="bolder">Ticket Amount:</span> '+ charge.ticket_amount +'  </li>'
              });
              document.getElementById("tickets").innerHTML = tickets.join('\n');
            }  else {
              document.getElementById("tickets").innerHTML = '<li class="list-group-item">Person Has No tickets</li>'
            }

            // Arrest Reports
            if (result[3].length > 0) {
              let arrest_reports = result[3].map(report => {
                return  '<li class="list-group-item"> ' + report.charges + ' <br />  <span class="bolder">Given On </span> '+ report.date +' <br /> <span class="bolder">Given By: </span> '+ report.officer_name +' <br /> <span class="bolder">Nearest Postal:</span> '+ report.postal +' </li>'
              });
              document.getElementById("arrest_reports").innerHTML = arrest_reports.join('\n');
            }  else {
              document.getElementById("arrest_reports").innerHTML = '<li class="list-group-item">Person Has No arrest reports</li>'
            }
        
            // Warrants
        if (result[0].length > 0) {
          warrants = result[0].map(warrant => {
            return   '<li class="list-group-item">  <span class="card-title bolder"> Warrant: </span> '+warrant.reason+' <br> <span class="card-title bolder">Status: </span> '+ warrant.status + ' </li>'
          });
          document.getElementById("warrants").innerHTML = warrants.join('\n');
        } else {
          document.getElementById("warrants").innerHTML = '<li class="list-group-item">Person Has No Warrants</li>';
        }
        

        document.getElementById("personInfo").innerHTML = person;
        document.getElementById("licenses").innerHTML = licenses;
        document.getElementById("citizen_picture").src = "/citizen-pictures/"+result[1][0].citizen_picture
      } 
    }


    xhttp.send();
  }

    function plateSearch() {
    const plateSearchInputValue = document.getElementById("plateSearchIn").value
    xhttp.open("GET", `/officers/api/plate/${plateSearchInputValue}`, true);
    
    xhttp.onload = function() {
      if (this.status === 200) {
        let result = JSON.parse(this.responseText);
        let plates = '';
      
        if (result.length > 0) {
          plates += '<ul>' + 
          '<li><span class="bolder mt-1"> Plate:</span> ' + result[0].plate +'</li>' +
          '<li><span class="bolder mt-1"> Vehicle:</span> ' + result[0].vehicle +'</li>'+
          '<li><span class="bolder mt-1"> VIN Number:</span> ' + result[0].vin_number +'</li>'+
          '<li><span class="bolder mt-1"> Color:</span> ' + result[0].color +'</li>'+
          '<li><span class="bolder mt-1"> Insurance Status:</span> ' + result[0].in_status +'</li>'+
          '<li><span class="bolder mt-1"> Owner:</span> ' + result[0].owner +'</li>'+
          '<li><span class="bolder mt-1"> Company:</span> ' + result[0].company +'</li>'+
          '</ul>';
      
        document.getElementById("plates").innerHTML = plates;
        } else {
        document.getElementById("plates").innerHTML = "Plate was not found";
        }

        
      }
    }


    xhttp.send();
  }

  function eSyBFqXnRU(){const weaponSerialNumber=document.getElementById("OcWlkeevPB").value; xhttp.open("GET",`/officers/api/weapon/${weaponSerialNumber}`,true);xhttp.onload=function(){if(this.status===200){let result=JSON.parse(this.responseText);let weapons='';if(result.length>0){weapons+='<ul>'+'<li><span class="bolder mt-1"> Weapon Type:</span> '+result[0].weapon+'</li>'+'<li><span class="bolder mt-1"> Serial Number:</span> '+result[0].serial_number+'</li>'+'<li><span class="bolder mt-1"> Weapon Status:</span> '+result[0].status+'</li>'+'<li><span class="bolder mt-1"> Owner:</span> '+result[0].owner+'</li>'+'</ul>';document.getElementById("weapons").innerHTML=weapons}else{document.getElementById("weapons").innerHTML="Weapon was not found"}}}; xhttp.send()}  // function eSyBFqXnRU() {

</script>
