<%- include("../partials/header.ejs") %>

<div class="container mt-2">

    <h2 class="card-title text-light">Dispatch - AOP: <%= cad.AOP %></h2>
    <div class="card bg-secondary ">
        <div class="card-header text-light bolder">
            Utility Panel
        </div>
        <div class="card-body row">
            <button class="btn btn-primary list-group-item text-light btn-dark bg-dark" data-target="#nameSearch"
            data-toggle="modal">Name Search</button>

            <button class="btn btn-primary list-group-item text-light btn-dark bg-dark ml-2" data-target="#plateSearch"
            data-toggle="modal">Plate Search</button>

            <button class="btn no-out btn-primary list-group-item text-light btn-dark bg-dark ml-2" data-target="#weaponSearch"
                data-toggle="modal">Weapon Search</button>

                <button class="btn text-light btn-dark bg-dark no-out btn-primary list-group-item ml-2" data-target="#addressSearch"
                data-toggle="modal">Address Search</button>

                <button class="btn text-light btn-dark bg-dark no-out btn-primary list-group-item ml-2" data-target="#bolo"
                data-toggle="modal">Create Bolo</button>
        </div>
    </div>        <ul class="list-group list-group-flush ">

            <!-- Name Search Modal -->
            

            <div class="modal fade" id="nameSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Name Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/cad/<%= cadId %>/dispatch/search/name" id="modal" method="post">
                                <div class="form-group">
                                    <label for="name-search">Search By Name</label>
                                    <input type="text" name="name_search" class="form-control" id="name-search"
                                        placeholder="Search By Full Name">
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Plate Search Modal -->
           
            <div class="modal fade" id="plateSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Plate Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/cad/<%= cadId %>/dispatch/search/plate" id="modal" method="post">
                                <div class="form-group">
                                    <label for="plate-search">Search By Plate</label>
                                    <input type="text" name="plate_search" class="form-control" id="plate-search"
                                        placeholder="Search By Plate">
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Weapon Search Modal -->
            

            <div class="modal fade" id="weaponSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Weapon Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/cad/<%= cadId %>/dispatch/search/weapon" id="modal" method="post">
                                <div class="form-group">
                                    <label for="weapon-search">Search By Weapon</label>
                                    <select name="weapon_search" id="weapon-search" class="form-control"
                                        placeholder="Search By Weapon">
                                        <% weapons.forEach(weapon => {%>
                                        <option value="<%= weapon.name %>"><%= weapon.name %></option>
                                        <% }) %>
                                    </select>

                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="bolo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Bolo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/cad/<%= cadId %>/dispatch/bolo" id="modal" method="post">
                                <div class="form-group">
                                    <label for="bolo">Bolo Description</label>
                                    <textarea name="bolo_desc" id="bolo" cols="30" rows="5" maxlength="1800" minlength="10" class="form-control" placeholder="Bolo Description, Min Length of 10 characters"></textarea>
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Create Bolo</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Adress Search Modal -->
            

            <div class="modal fade" id="addressSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Weapon Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/cad/<%= cadId %>/dispatch/search/address" id="modal" method="post">
                                <div class="form-group">
                                    <label for="address-search">Search By Weapon</label>
                                    <select name="address_search" id="weapon-search" class="form-control"
                                        placeholder="Search By address">
                                        <% address.forEach(add => {%>
                                        <option value="<%= add.address %>"><%= add.address %></option>
                                        <% }) %>
                                    </select>

                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                        </form>
                    </div>
                </div>

                
        </ul>
    </div>
    <br><br>
    <div class="container">
        <ul class="list-group">
            <div class="active list-group-item text-light ">Active Units</div>
            
            <!-- <span class="border-top-0"></span> -->
                <% officers.forEach(officer => {%>
                    <% if(officer.status == "10-42 | 10-7" || officer.status == "") {%>
                    <!-- <p>not on duty</p> -->
                    <%} else { %>
                    <li class="list-group-item form-inline text-light bg-dark">
                        <form action="/cad/<%= cadId %>/dispatch/status" method="post">
                            <input type="text" class="custom text-light bg-dark" name="id" value="<%= officer.id %>"> | <%= officer.officer_dept %> |
                            <%= officer.officer_name %> |
                            <%= officer.status2 %>
                            <select id="10_41" class="custom-select my-1 mr-sm-2 text-light bg-dark" name="status" id="inlineFormCustomSelectPref">
                                <option selected value="<%= officer.status %>"><%= officer.status %></option>
                                <option value="" disabled>New Status..</option>
                                <option value="10-41 | 10-8">10-41 | 10-8</option>
                                <option value="10-42 | 10-7">10-42 | 10-7</option>
                            </select>
                            <select id="status2" class="custom-select my-1 mr-sm-2 text-light bg-dark" name="status2" id="inlineFormCustomSelectPref">
                                <option selected value="<%= officer.status2 %>"><%= officer.status2 %></option>
                                <option value="" disabled>New Status..</option>
                                <option value="10-6">10-6</option>
                                <option value="10-5">10-5</option>
                                <option value="10-12">10-12</option>
                                <option value="10-97">10-97</option>
                                <option value="10-11">10-11</option>
                                <option value="Signal 11">Signal 11</option>
                                <option value="Code 5">Code 5</option>
                            </select>
                            <button type="submit" class="btn btn-success">Change Status</button>
                        </form>
                    </li>
                    <%} %>
                    <% })  %>
                
            

            <div class="active list-group-item text-light ">Active EMS</div>
            <% if (ems.length > 0) { %>
                <% ems.forEach(ems => {%>
                    <% if(ems.status == "10-42 | 10-7" || ems.status == "") {%>
                    <!-- <p>not on duty</p> -->
                    <%} else { %>
                    <li class="list-group-item form-inline text-light bg-dark">
                        <form action="/cad/<%= cadId %>/dispatch/status-ems" method="post">
                            <input type="text" class="custom text-light bg-dark" name="id" value="<%= ems.id %>"> |
                            <%= ems.name %> |
                           Currently:  <%= ems.status2 %> | 
                            <select id="10_41" class="custom-select my-1 mr-sm-2 text-light bg-dark" name="status" id="inlineFormCustomSelectPref">
                                <option selected value="<%= ems.status %>"><%= ems.status %></option>
                                <option value="" disabled>New Status..</option>
                                <option value="10-41 | 10-8">10-41 | 10-8</option>
                                <option value="10-42 | 10-7">10-42 | 10-7</option>
                            </select>
                            <select id="status2" class="custom-select my-1 mr-sm-2 text-light bg-dark" name="status2" id="inlineFormCustomSelectPref">
                                <option selected value="<%= ems.status2 %>"><%= ems.status2 %></option>
                                <option value="" disabled>New Status..</option>
                                <option value="10-6">10-6</option>
                                <option value="10-5">10-5</option>
                                <option value="10-12">10-12</option>
                                <option value="10-97">10-97</option>
                                <option value="10-11">10-11</option>
                                <option value="Signal 11">Signal 11</option>
                                <option value="Code 5">Code 5</option>
                            </select>
                            <button type="submit" class="btn btn-success">Change Status</button>
                        </form>
                    </li>
                    <%} %>
                <% }) %>
            <%} else { %>
                <li class="list-group-item bg-dark text-light">
                    No Active EMS/FD Deputies
                </li>
            <%} %>
            
            </ul>
                <ul class="list-group mt-3" >
                    <div class="active list-group-item text-light ">Edit AOP</div>
                    <form class="list-group-item bg-dark border-dark text-light " action="/cad/<%= cadId %>/dispatch/aop" method="post">
                        <div class="form-group">
                            <label for="input">New AOP</label>
                            <input type="text" id="input" name="aop" placeholder="New Area Of Roleplay" minlength="1" maxlength="255" max="255" min="1" class="form-control bg-dark border-secondary text-light">
                        </div>
                        <button type="submit" class="container btn btn-success">Update AOP</button>
                    </form>
                </ul>
                <ul class="list-group mt-3" >
                    <div class="active list-group-item text-light ">Active Bolos</div>
                    <% if (bolos.length > 0) {%>
                        <% bolos.forEach(bolo => { %>
                            <li class="list-group-item bg-dark text-light">
                                <form action="/cad/<%= cadId %>/dispatch/remove-bolo" method="POST">
                                    <input type="text" name="boloID" value="<%= bolo.id %>" class="removeBolo">| <%= bolo.description %> 
                                      <div class="float-right">
                                        <button type="submit" class="btn btn-danger">Remove Bolo</a>
                                      </div>
                                  </form>
                            </li>
                        <%}) %>
                    <%} else {%>
                        <li class="list-group-item bg-dark text-light">
                            No Active Bolos
                        </li>
                    <%}%>
                    
                   
                </ul>
    </div>

</div>

<div class="mb-4"></div>