<%- include("../partials/header.ejs") %>

<div class="container mt-2">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Warning!</strong> this page is still ongoing development, please be aware of bugs or incompletions.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card mt-3 border-dark" style="width: 18rem;">
        <div class="card-header">
            <span class="">Utility Panel</span>
        </div>
        <ul class="list-group list-group-flush">

            <!-- Name Search Modal -->
            <button class="btn  no-out btn-primary list-group-item text-light btn-dark bg-dark" data-target="#nameSearch"
                data-toggle="modal">Name Search</button>

            <div class="modal fade" id="nameSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Name Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/dispatch/search/name" id="modal" method="post">
                                <div class="form-group">
                                    <label for="name-search">Search By Name</label>
                                    <input type="text" name="name_search" class="form-control" id="name-search"
                                        placeholder="Search By Full Name">
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Plate Search Modal -->
            <button class="btn  no-out btn-primary list-group-item text-light btn-dark bg-dark" data-target="#plateSearch"
                data-toggle="modal">Plate Search</button>

            <div class="modal fade" id="plateSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Plate Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/dispatch/search/plate" id="modal" method="post">
                                <div class="form-group">
                                    <label for="plate-search">Search By Plate</label>
                                    <input type="text" name="plate_search" class="form-control" id="plate-search"
                                        placeholder="Search By Plate">
                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Weapon Search Modal -->
            <button class="btn no-out btn-primary list-group-item text-light btn-dark bg-dark" data-target="#weaponSearch"
                data-toggle="modal">Weapon Search</button>

            <div class="modal fade" id="weaponSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Weapon Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/dispatch/search/weapon" id="modal" method="post">
                                <div class="form-group">
                                    <label for="weapon-search">Search By Weapon</label>
                                    <select name="weapon_search" id="weapon-search" class="form-control"
                                        placeholder="Search By Weapon">
                                        <% weapons.forEach(weapon => {%>
                                        <option value="<%= weapon.name %>"><%= weapon.name %></option>
                                        <% }) %>
                                    </select>

                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Adress Search Modal -->
            <button class="btn text-light btn-dark bg-dark no-out btn-primary list-group-item" data-target="#addressSearch"
                data-toggle="modal">Address Search</button>

            <div class="modal fade" id="addressSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Weapon Search</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/dispatch/search/address" id="modal" method="post">
                                <div class="form-group">
                                    <label for="address-search">Search By Weapon</label>
                                    <select name="address_search" id="weapon-search" class="form-control"
                                        placeholder="Search By address">
                                        <% address.forEach(add => {%>
                                        <option value="<%= add.address %>"><%= add.address %></option>
                                        <% }) %>
                                    </select>

                                </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    <br><br>
    <ul class="list-group ">
        <div class="active list-group-item text-light bg-dark border-dark">Active Units</div>
        <!-- <span class="border-top-0"></span> -->
        <% officers.forEach(officer => {%>
        <% if(officer.status == "10-42 | 10-7" || officer.status == "") {%>
        <!-- <p>not on duty</p> -->
        <%} else { %>
        <li class="list-group-item form-inline text-light bg-dark">
            <form action="/dispatch/status" method="post">
                <input type="text" class="custom text-light bg-dark" name="id" value="<%= officer.id %>"> | <%= officer.officer_dept %> |
                <%= officer.officer_name %> |
                <%= officer.status2 %>
                <select id="10_41" class="custom-select my-1 mr-sm-2 text-light bg-dark" name="status" id="inlineFormCustomSelectPref">
                    <option selected value="<%= officer.status %>"><%= officer.status %></option>
                    <option value="" disabled>New Status..</option>
                    <option value="10-41 | 10-8">10-41 | 10-8</option>
                    <option value="10-42 | 10-7">10-42 | 10-7</option>
                </select>
                <select id="status2" class="custom-select my-1 mr-sm-2 text-light bg-dark" name="status2" id="inlineFormCustomSelectPref">
                    <option selected value="<%= officer.status2 %>"><%= officer.status2 %></option>
                    <option value="" disabled>New Status..</option>
                    <option value="10-6">10-6</option>
                    <option value="10-5">10-5</option>
                    <option value="10-12">10-12</option>
                    <option value="10-97">10-97</option>
                    <option value="10-11">10-11</option>
                    <option value="Signal 11">Signal 11</option>
                    <option value="Code 5">Code 5</option>
                </select>
                <button type="submit" class="btn btn-success">Change Status</button>
            </form>
        </li>
        <%} %>
        <% })  %>
    </ul>

    <!-- <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header">
            <span class="">Utility Panel</span>
        </div>
        <ul class="list-group list-group-flush">
            <a href="/dispatch/search/name" class="btn text-dark  btn-primary list-group-item">Name Search</a>
            <a href="/dispatch/search/plate" class="btn text-dark  btn-primary list-group-item">Plate Search</a>
            <a href="/dispatch/search/weapons" class="btn text-dark  btn-primary list-group-item">Weapons Search</a>
            <a href="/dispatch/search/address" class="btn text-dark  btn-primary list-group-item">Address Search</a>
            <a href="/dispatch/units" class="btn btn-primary text-dark  list-group-item">Active Units</a>
        </ul>
    </div> -->
</div>