<%- include("../../partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../../partials/admin-header.ejs") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 text-light mt-2">
      <div class="container mt-3">
        <h1 class="card-title text-light">
          Legal management
          <a href="/admin/legal/add">+</a>
        </h1>

        <input
          class="disabled list-group-item text-light bg-dark"
          type="text"
          name=""
          id=""
        />

        <% if (legals.length > 0) {%>
        <ul class="list-group">
          <% legals.forEach((value, index) => { %>
          <li class="list-group-item text-light bg-dark">
            <%= ++index %> | <%= value.status %>
            <a
              href="/admin/legal/delete/<%= value.id %>"
              class="btn btn-danger float-right"
              >Delete</a
            >
            <a
              href="/admin/legal/edit/<%= value.id %>"
              class="btn btn-success float-right margin-right-10"
              >Edit</a
            >
          </li>

          <% }) %>
        </ul>
        <% } else { %>
        <p class="alert alert-primary">
          Nothing found. Go add
          <a href="/admin/legal/add">here</a>.
        </p>
        <% } %>
      </div>
      <div class="mb-4"></div>
    </main>
  </div>
</div>
