<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>
<h1 class="users-title card-title">User management </h1>
<input type="text" class=" form-control margin-top" id="myInput" onkeyup="myFunction()"
  placeholder="Search for users..">

<div class="users-list">
  <ul class="list-group" id="myUL">
    <% users.forEach(user => { %>
    <li class="list-group-item">

      <%= user.id %> | <%= user.username %>
      <a href="/admin/citizens/delete/<%= user.id %>" class="btn btn-danger float-right">Delete</a>
      <a href="/admin/values/weapons/edit/<%= user.id %>" class="btn btn-success float-right  margin-right-10">Edit</a>
    </li>

    <% }) %>
  </ul>
</div>

<script>
  function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
      a = li[i];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>