<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>

<div class="container">
    <h1 class="users-title card-title text-light">
        Ethnicities management <a href="/admin/values/ethnicities/add">+</a>
    </h1>
    <input class="disabled list-group-item text-light bg-dark" type="text" name="" id="">

    <% if (ethnicities.length > 0) {%>
    <ul class="list-group">
        <% ethnicities.forEach(value => { %>
        <li class="list-group-item text-light bg-dark">

            <%= value.id %> | <%= value.ethnicity %>
            <a href="/admin/values/ethnicities/delete/<%= value.id %>" class="btn btn-danger float-right">Delete</a>
            <a href="/admin/values/ethnicities/edit/<%= value.id %>"
                class="btn btn-success float-right  margin-right-10">Edit</a>
        </li>

        <% }) %>
    </ul>
    <% } else { %>
    <p class="alert alert-primary aler">
        No ethnicities found. Go <a href="/admin/values/ethnicities/add">here</a> to add a ethnicity.
    </p>
    <% } %>
</div>