<%- include("../partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../partials/admin-header.ejs") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 text-light mt-2">
      <div class="mt-2">
        <h1 class="users-title card-title text-light">
          Ethnicities management
          <a href="/cad/<%= cadId %>/admin/values/ethnicities/add">+</a>
        </h1>
        <input
          class="disabled list-group-item text-light bg-dark"
          type="text"
          name=""
          id=""
        />

        <% if (ethnicities.length > 0) {%>
        <ul class="list-group">
          <% ethnicities.forEach(value => { %>
          <li class="list-group-item text-light bg-dark">
            <%= value.id %> | <%= value.ethnicity %>
            <a
              href="/cad/<%= cadId %>/admin/values/ethnicities/delete/<%= value.id %>"
              class="btn btn-danger float-right"
              >Delete</a
            >
            <a
              href="/cad/<%= cadId %>/admin/values/ethnicities/edit/<%= value.id %>"
              class="btn btn-success float-right margin-right-10"
              >Edit</a
            >
          </li>

          <% }) %>
        </ul>
        <% } else { %>
        <p class="alert alert-primary">
          No ethnicities found. Go
          <a href="/cad/<%= cadId %>/admin/values/ethnicities/add">here</a> to
          add ethnicities.
        </p>
        <% } %>
      </div>
      <div class="mb-4"></div>
    </main>
  </div>
</div>
