<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>
<h1 class="users-title card-title">
  Vehicles management <a href="/admin/values/cars/add">+</a>
</h1>
<input type="text" id="myInput" class="form-control margin-top" onkeyup="myFunction()"
  placeholder="Search for Vehicles..">

<% if (vehicles.length > 0) {%>
<ul class="list-group" id="myUL">
  <% vehicles.forEach(value => { %>
  <li class="list-group-item">

    <%= value.id %> | <%= value.cname %>
    <a href="/admin/values/cars/delete/<%= value.id %>" class="btn btn-danger float-right">Delete</a>
    <a href="/admin/values/cars/edit/<%= value.id %>" class="btn btn-success float-right  margin-right-10">Edit</a>
  </li>

  <% }) %>
</ul>
<% } else { %>
<p class="alert alert-primary aler">
  No Vehicles found. Go <a href="/admin/values/cars/add">here</a> to add a vehicle.
</p>
<% } %>