<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>
<h1 class="users-title card-title">
    Weapon management <a href="/admin/values/weapons/add">+</a>
</h1>

<input class="disabled form-control margin-top" type="text" name="" id="">
<!-- <input type="text" id="myInput" class="form-control margin-top" onkeyup="myFunction()" placeholder="Search for users.."> -->

<% if (weapons.length > 0) {%>
<ul class="list-group">
    <% weapons.forEach(value => { %>
    <li class="list-group-item">

        <%= value.id %> | <%= value.name %>
        <a href="/admin/values/weapons/delete/<%= value.id %>" class="btn btn-danger float-right">Delete</a>
        <a href="/admin/values/weapons/edit/<%= value.id %>"
            class="btn btn-success float-right  margin-right-10">Edit</a>
    </li>

    <% }) %>
</ul>
<% } else { %>
<p class="alert alert-primary aler">
    No weapons found. Go <a href="/admin/values/weapons/add">here</a> to add a gender.
</p>
<% } %>