<%- include("../partials/header.ejs") %> <%-
include("../partials/admin-header.ejs") %>

<div class="container mt-3">
  <h1 class="card-title text-light">
    Weapon management <a href="/cad/<%= cadId %>/admin/values/weapons/add">+</a>
  </h1>

  <input
    class="disabled list-group-item text-light bg-dark"
    type="text"
    name=""
    id=""
  />

  <% if (weapons.length > 0) {%>
  <ul class="list-group">
    <% weapons.forEach(value => { %>
    <li class="list-group-item text-light bg-dark">
      <%= value.id %> | <%= value.name %>
      <a
        href="/cad/<%= cadId %>/admin/values/weapons/delete/<%= value.id %>"
        class="btn btn-danger float-right"
        >Delete</a
      >
      <a
        href="/cad/<%= cadId %>/admin/values/weapons/edit/<%= value.id %>"
        class="btn btn-success float-right  margin-right-10"
        >Edit</a
      >
    </li>

    <% }) %>
  </ul>
  <% } else { %>
  <p class="alert alert-primary">
    No weapons found. Go
    <a href="/cad/<%= cadId %>/admin/values/weapons/add">here</a> to add
    weapons.
  </p>
  <% } %>
</div>

<div class="mb-4"></div>