<%- include("../../partials/header.ejs") %>

<div class="container-fluid">
  <div class="row">
    <%- include("../../partials/admin-header.ejs") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 text-light mt-2">
      <div class="container mt-3">
        <h1 class="users-title card-title text-light">
          Gender management
          <a href="/admin/genders/add">+</a>
        </h1>
        <input class="disabled list-group-item" type="text" name="" id="" />

        <% if (genders.length > 0) {%>
        <ul class="list-group">
          <% genders.forEach((value, index) => { %>
          <li class="list-group-item text-light bg-dark">
            <%= ++index %> | <%= value.name %>
            <a
              href="/admin/genders/delete/<%= value.id %>"
              class="btn btn-danger float-right"
              >Delete</a
            >
            <a
              href="/admin/genders/edit/<%= value.id %>"
              class="btn btn-success float-right  margin-right-10"
              >Edit</a
            >
          </li>

          <% }) %>
        </ul>
        <% } else { %>
        <p class="alert alert-primary">
          No genders found. Go
          <a href="/admin/genders/add">here</a> to add
          genders.
        </p>
        <% } %>
      </div>

      <div class="mb-4"></div>
    </main>
  </div>
</div>
