<%- include("../partials/header.ejs") %>

<div class="text-light mt-2">
    <form action="/cad/<%= cadId %>/citizen/company/<%= req.params.company %>" class="container mx-auto" method="POST">
        <h1 class="card-title">Create Post</h1>
        <% if(message != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        <div class="form-group text-light">
            <label for="title">Post Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title" required>
        </div>
        <div class="form-group">
            <label for="desc">Post Description</label>
            <textarea name="description" id="desc" class="form-control" required cols="30" rows="5" maxlength="1800" minlength="1" max="1800"></textarea>
        </div>
        <a href="/cad/<%= cadId %>/citizen/company/<%= req.params.company %>" type="button" class="btn cancel-btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Create Post</button>

    </form>
</div>

