<%- include("../partials/header.ejs") %>

<div class="container mt-2 text-light">
  <h1 class="card-title ">
    <%= req.params.company %>
    <a
      href="/company/<%= req.params.citizenId %>-<%= req.params.company %>/create-post"
      class="float-right btn btn-primary"
      >Create a post</a>
  </h1>
  <div class="float-right">
    <% if (result5[0].rank === "manager" || result5[0].rank === "owner") { %>
    <a
      href="/company/<%= req.params.citizenId %>-<%= req.params.company %>/edit"
      class="btn btn-success"
      >Edit Company</a
    >
    <% } else {%> <% } %>
  </div>
  <h4 class="card-title">Posts(<%= posts.length %>)</h4>
  <h5 class="card-title">Employees(<%= employees.length %>)</h5>
  <% if(messageG != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= messageG %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %> <% if(message != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>

  <ul class="list-group">
    <% posts.forEach(post => {%>
    <div class="card bg-dark border-dark mt-2">
      <div class="card-header">
        <h3 class="card-title"><%= post.title %></h3>
      </div>
      <div class="card-body">
        <%= post.description %>
      </div>
      <div class="card-footer">
        <h6 class="card-title">
          <span class="bolder"> Uploaded by: </span> <%= post.uploadedBy %>
          <span class="bolder"> on </span> <%= post.uploadedAt %>
        </h6>
      </div>
    </div>
    <%}) %>
  </ul>
</div>
<div class="mb-4"></div>
