<%- include("../partials/main/header.ejs") %>


<div class="container">
    <h1 class="card-title">
        <%= cad.cadID %>
    </h1>
    <h6 class="text-secondary">OrderID: <%= cad.orderID %></h6>

    <ul class="list-group">
        <li class="list-group-item active">CAD Information</li>
        <li class="list-group-item"><%= cad.cad_name %></li>
        <li class="list-group-item"><%= cad.owner %></li>
        <li class="list-group-item"><%= cad.expire_date %></li>
    </ul>

    <div class="container text-light mt-2">
        <div class="row">
          <div class="col-sm">
            <h5 class="card-title">Citizens Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= citizens %>">
                <% if(citizens.length < 0) { %>
                  <%= citizens.length %>
                  <% } else {%>
                    0
                <%} %>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h5 class="card-title">Registered Weapon Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= weapons %>">
                <% if(weapons.length < 0) { %>
                  <%= weapons.length %>
                  <% } else {%>
                    0
                  <%} %>
              </h1>
            </div>
          </div>
          <div class="col-sm">
            <h5 class="card-title">Registered Vehicle Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= vehicles %>">
                <% if(vehicles.length < 0) { %>
                  <%= vehicles.length %>
                  <% } else {%>
                    0
                <%} %>
              </h1>
            </div>
          </div>
          <div class="col-sm">
            <h5 class="card-title">Charges Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= charges %>">
                <% if(charges.length < 0) { %>
                  <%= charges.length %>
                  <% } else {%>
                    0
                  <%} %>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <h5 class="card-title">Bolos Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= bolos %>">
                <% if(bolos.length < 0) { %>
                  <%= bolos.length %>
                  <% } else {%>
                    0
                <%} %>
              </h1>
            </div>
          </div>
          <div class="col-sm">
            <h5 class="card-title">Companies Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= companies %>">
                <% if(companies.length < 0) { %>
                  <%= companies.length %>
                  <% } else {%>
                    0
                <%} %>
              </h1>
            </div>
          </div>
          <div class="col-sm">
            <h5 class="card-title">Company Posts Count:</h5>
            <div class="col-sm">
              <h1 class="card-title counter" data-target="<%= posts %>">
                <% if(posts.length < 0) { %>
                  <%= posts.length %>
                  <% } else {%>
                    0
                <%} %>
              </h1>
            </div>
          </div>
        </div>
            
      </div>
      
      <script>
        const counters = document.querySelectorAll('.counter');
        const speed = 1000;
      
        counters.forEach(counter => {
          const updateCount = () => {
            const target = +counter.getAttribute('data-target');
            const count = +counter.innerText;
            const inc = target / speed;
      
            if (count < target) {
              counter.innerText = Math.ceil(count + inc);
              setTimeout(updateCount, 1);
            } else {
              count.innerText = target;
            }
          };
          updateCount();
        });
      </script>
      
</div>