<%- include("../partials/header.ejs") %>


<form class="add-player-form" action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="exampleInputEmail1">Charge/Offence</label>
        <input type="text" list="penals" name="offence" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" required>
        <datalist id="penals">
            <% penals.forEach(penal => {%>
            <option value="<%= penal.title %>"></option>
            <%  }) %>
        </datalist>

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" name="name" value="<% req.params.first_name %>" class="form-control" id="exampleInputPassword1" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Officer Name</label>
        <input type="text" name="officer_name" class="form-control" id="exampleInputPassword1" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Notes:</label>
        <input type="text" name="notes" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Date</label>
        <input type="text" name="date" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary float-right">Add Offence</button>
    <a href="/officers/dash/search/name/<%= req.params.id %>-<%=req.params.first_name %>-<%= req.params.last_name %>"
        class="btn btn-danger margin-right-10 float-right">Cancel</a>
</form>