<%- include("../partials/header.ejs") %>



<div class="container ">
    <h1 class="card-title cap mt-3 text-center text-light"> <%= result.first_name %> <%= result.last_name %></h1>

    <ul class="list-group">
        <a href="/cad/<%= cadId %>/officers/dash/search/person-name" class="btn btn-primary cap mt-2">Back to name search</a>
        <li class="list-group-item text-light bg-dark mt-2">Full Name: <%= result.full_name %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Gender: <%= result.gender %></li>
        <li class="list-group-item text-light bg-dark mt-2">Birthday: <%= result.birth %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Ethnicity: <%= result.ethnicity %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Hair Color: <%= result.hair %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Eye Color: <%= result.eyes %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Address: <%= result.address %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Height: <%= result.height %> </li>
        <li class="list-group-item text-light bg-dark mt-2">Weight: <%= result.weight %> </li>
        <% if (result.business == "") { %>
        <li class="list-group-item text-light bg-dark mt-2">Employer: Currently is not working</li>
        <%} else {%>
        <li class="list-group-item text-light bg-dark mt-2">Employer: <%= result.business %> </li>

        <%} %>

        <div class="list-group-item border-dark text-light bg-dark list-group-item-action active mt-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 ">Licenses:</h5>
            </div>
            <div id="dots3"></div>
            <div id="more3">
                <p class="mb-1">
                    <li class="list-group-item color-black"><span class="bolder"> Driver License: </span> <%= result.dmv %> <form
                            action="<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>/suspend/dmv"
                            class="float-right" method="post"><button type="submit"
                                class="btn btn-sm btn-danger">Suspend
                                License</button>
                        </form>
                    </li>
                    <li class="list-group-item color-black"><span class="bolder">Pilot License: </span> <%= result.pilot_licence %> <form
                            action="<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>/suspend/pilot"
                            class="float-right" method="post"><button type="submit"
                                class="btn btn-sm btn-danger">Suspend
                                License</button>
                        </form>
                    </li>
                    <li class="list-group-item color-black"><span class="bolder"> Firearms License: </span> <%= result.fire_licence %> <form
                            action="<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>/suspend/fire"
                            class="float-right" method="post"><button type="submit"
                                class="btn btn-sm btn-danger">Suspend
                                License</button>
                        </form>
                    </li>
                    <li class="list-group-item color-black"><span class="bolder"> CCW License: </span> <%= result.ccw %> <form
                            action="<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>/suspend/ccw"
                            class="float-right" method="post"><button type="submit"
                                class="btn btn-sm btn-danger">Suspend
                                License</button>
                        </form>
                    </li>
                </p>

            </div>
            <button class="btn btn-primary" onclick="lic()" id="licBtn">See all</button>



        </div>
        <div class="list-group-item border-dark text-light bg-dark list-group-item-action active mt-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Vehicles:</h5>
            </div>
            <div id="dots"></div>
            <div id="more">
                <p class="mb-1">
                    <% if (!vehicles[0]) { %>
                        <li class="list-group-item color-black">
                            <p>No Weapons registered to this person.</p>
                        </li>
                        <% } else  {%>
                        <p class="mb-1">
                            <% vehicles.forEach(vehicle => { %>
                                <li class="list-group-item color-black"> <%= vehicle.vehicle %>
                                    <p>Plate: <span class="uppercase"><%= vehicle.plate %></span>  <br> Insurance Status: <%= vehicle.in_status %> </p>
                                </li>
            
                                <%  }) %>
                        </p>
        
                        <% } %>
                    
                </p>
            </div>
            <button class="btn btn-primary" onclick="veh()" id="vehBtn">See all</button>


        </div>
        <div class="list-group-item border-dark text-light bg-dark list-group-item-action active mt-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Weapons:</h5>
            </div>
            <div id="dots2"></div>
            <div id="more2">
                <p class="mb-1">
                <% if (!weapons[0]) { %>
                <li class="list-group-item color-black">
                    <p>No Weapons registered to this person.</p>
                </li>
                <% } else  {%>
                <p class="mb-1">
                    <% weapons.forEach(weapon => { %>
                    <li class="list-group-item color-black"> <%= weapon.weapon %>
                        <p> weapon Status: <%= weapon.status %> </p>
                    </li>

                    <%  }) %>
                </p>

                <% } %>
                     
            </p>
            </div>
            <div class="btn btn-primary pointer" onclick="wep()" id="weapenBtn">See all</button>
            </div>


        </div>



        <!-- Charges -->
        <div class="list-group-item border-dark text-light bg-dark list-group-item-action active mt-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Legal:</h5>
            </div>
            <div id="dots4"></div>
            <div id="more4">
                <% if (!charges[0]) { %>
                        <li class="list-group-item color-black">
                            <p>Clean record.</p>
                        </li>
                        <a class="btn btn-dark text-light mt-1"
                            href="/cad/<%= cadId %>/officers/dash/offence/add/<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>">Add
                            Offence</a>

                <% } else  {%>
                <div class="mb-1">
                    <% charges.forEach(charge => { %>
                    <li class="list-group-item color-black"> <%= charge.charge %> <br>
                        <span class="bolder">Notes: </span> <%= charge.notes %> <br> <span class="bolder">Given on:</span>  <%= charge.date %> <br> <span class="bolder">Nearest Postal: </span> <%= charge.postal %>

                    </li>

                    <%  }) %>
                </div>                    </>

                <a class="btn btn-dark text-light"
                    href="/cad/<%= cadId %>/officers/dash/offence/add/<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>">Add
                    Offence</a>
                <% } %>
            </div>
            <div class="btn btn-primary mt-1 pointer" onclick="legal()" id="legalBtn">See all</button>


            </div>
    </ul>
    <div class="list-group-item border-dark text-light bg-dark list-group-item-action active mt-2">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Warrants:</h5>
        </div>
        <div id="dots5"></div>
        <div id="more5">
            <% if (!warrants) { %>
            <li class="list-group-item color-black">
                <p>No warrants out for this person.</p>
            </li>
            <a href="/cad/<%= cadId %>/officers/dash/warrants/add/<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>"
                class="btn btn-dark text-light">Add Warrant</a>

            <% } else  {%>
            <p class="mb-1">
                <% warrants.forEach(war => { %>
                <li class="list-group-item color-black">
                    <p><span class="card-title bolder"> Warrant:</span> <%= war.reason %></p>
                    <p><span class="card-title bolder">Date From, To: <%= war.d_from %>-<%= war.d_to %></span></p>
                </li>
                <%  }) %>
            </p>
            <a href="/cad/<%= cadId %>/officers/dash/warrants/add/<%= result.id %>-<%= result.first_name %>-<%= result.last_name %>"
                class="btn btn-dark text-light">Add Warrant</a>
            <% } %>
        </div>
        <div class="btn btn-primary pointer" onclick="war()" id="warB">See all</button>

        </div>



    </div>
    <div class="mb-5"></div>
</div>




<script>
    function veh() {
        let dots = document.getElementById("dots");
        let moreText = document.getElementById("more");
        let vehBtn = document.getElementById("vehBtn")
        let weapenBtn = document.getElementById("weapenBtn")

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            moreText.style.display = "none";
            vehBtn.textContent = "See All"

        } else {
            dots.style.display = "none";
            moreText.style.display = "inline";
            vehBtn.textContent = "See Less"
        }
    }
    function wep() {
        let dots = document.getElementById("dots2");
        let moreText = document.getElementById("more2");
        let vehBtn = document.getElementById("vehBtn")
        let weapenBtn = document.getElementById("weapenBtn")

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            moreText.style.display = "none";
            weapenBtn.textContent = "See All"
        } else {
            dots.style.display = "none";
            moreText.style.display = "inline";
            weapenBtn.textContent = "See Less"
        }
    }
    function lic() {
        let dots = document.getElementById("dots3");
        let moreText = document.getElementById("more3");
        let vehBtn = document.getElementById("vehBtn")
        let weapenBtn = document.getElementById("weapenBtn")
        let licBtn = document.getElementById("licBtn")

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            moreText.style.display = "none";
            licBtn.textContent = "See All"
        } else {
            dots.style.display = "none";
            moreText.style.display = "inline";
            licBtn.textContent = "See Less"
        }
    }
    function legal() {
        let dots = document.getElementById("dots4");
        let moreText = document.getElementById("more4");
        let vehBtn = document.getElementById("vehBtn")
        let weapenBtn = document.getElementById("weapenBtn")
        let licBtn = document.getElementById("licBtn")
        let legalBtn = document.getElementById("legalBtn")

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            moreText.style.display = "none";
            legalBtn.textContent = "See All"
        } else {
            dots.style.display = "none";
            moreText.style.display = "inline";
            legalBtn.textContent = "See Less"
        }
    }
    function war() {
        let dots = document.getElementById("dots5");
        let moreText = document.getElementById("more5");
        let vehBtn = document.getElementById("vehBtn")
        let weapenBtn = document.getElementById("weapenBtn")
        let licBtn = document.getElementById("licBtn")
        let legalBtn = document.getElementById("legalBtn")
        let warBtn = document.getElementById("warB")

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            moreText.style.display = "none";
            warBtn.textContent = "See All"
        } else {
            dots.style.display = "none";
            moreText.style.display = "inline";
            warBtn.textContent = "See Less"
        }
    }
</script>