<%- include("../partials/header.ejs") %>



<% if(current.leo_dash === "1") { %>
  <div class="container mt-2">
    <h1 class="users-title card-title text-center text-light ">Police Dept.

    </h1>
  
    <ul class="list-group">
      <form action="/cad/<%= cadId %>/officers/version/real" method="POST">
        <button type="submit" class="container btn btn-primaryy list-group-item mt-2 text-light bg-dark">Realistic Version</button>
    </form>
      <a
        href="/cad/<%= cadId %>/officers/dash/search/plate"
        class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
      >
        Search Vehicle Plate
      </a>
  
      <a
        href="/cad/<%= cadId %>/officers/dash/search/person-name"
        class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
      >
        Search By Person Name
      </a>
  
      <a
        href="/cad/<%= cadId %>/officers/penal-codes"
        class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
      >
        Penal Codes
      </a>
  
      <a
        href="/cad/<%= cadId %>/officers/dash/codes"
        class="btn btn-primaryy list-group-item mt-2 text-light bg-dark"
      >
        10-Codes
      </a>
  
      <button type="button" class="btn btn-primaryy list-group-item mt-2 text-light bg-dark" data-toggle="modal" data-target="#bolo">
        Create Bolo
      </button>
      
    </ul>
    <ul class="list-group mt-3" >
      <div class="active list-group-item text-light ">Active Bolos</div>
      <% if (bolos.length > 0) { %>
        <% bolos.forEach(bolo => { %>
          <li class="list-group-item bg-dark text-light">
            <form action="/cad/<%= cadId %>/officers/remove-bolo" method="POST">
              <input type="text" name="boloID" value="<%= bolo.id %>" class="removeBolo">| <%= bolo.description %> 
                <div class="float-right">
                  <button type="submit" class="btn btn-danger">Remove Bolo</a>
                </div>
            </form>
          </li>
      <%}) %>
      <% } else { %>
        <li class="list-group-item bg-dark text-light">
          There're no active bolos.
        </li>
        <% } %>
    
      
      <div class="modal fade" id="bolo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Create Bolo</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form action="/cad/<%= cadId %>/officers/bolo" id="modal" method="post">
                                  <div class="form-group">
                                      <label for="bolo">Bolo Description</label>
                                      <textarea name="bolo_desc" id="bolo" cols="30" rows="5" required maxlength="1800" minlength="10" class="form-control" placeholder="Bolo Description, Min Length of 10 characters"></textarea>
                                  </div>
  
  
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-primary">Create Bolo</button>
                          </div>
                          </form>
                      </div>
                  </div>
              </div>
     
  </ul>
  </div>
<% } else { %>
  <div class="container-fluid mt-3">
    <h1 class="card-title text-light">Police Dept. </h1>
    <% if(messageG != ''){ %>
      <div
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <%= messageG %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    <div class="card border-dark bg-dark text-light">
      <div class="card-header">
          <h4 class="card-title">
            Utility Panel
          </h4>
      </div>
      <div class="card-body row mx-auto">
        <form action="/cad/<%= cadId %>/officers/version/compact" method="POST">
            <button type="submit" class="btn btn-primary">Compact Version</button>
        </form>
          <a href="#nameSearch" data-toggle="modal" class="btn btn-secondary ml-2">Name Search</a>
          <a href="#plate" data-toggle="modal" class="btn btn-secondary ml-2">Plate Search</a>
          <a href="#weaponSearch" data-toggle="modal" class="btn btn-secondary ml-2">Weapon Search</a>
          <a href="#offenceCharge"  data-toggle="modal" class="btn btn-secondary ml-2">Create Offence/charge</a>
          <a href="#boloModal" data-toggle="modal" class="btn btn-secondary ml-2">Create Bolo</a>
      </div>
    </div>


      <div class="row">
        <div class="col-md-8">
          <div class="mt-2">
            <ul class="list-group " >
              <div class="active list-group-item text-light ">Active Bolos</div>
              <% if (bolos.length > 0) { %>
                <% bolos.forEach(bolo => { %>
                  <li class="list-group-item bg-dark text-light">
                    <form action="/cad/<%= cadId %>/officers/remove-bolo" method="POST">
                      <input type="text" name="boloID" value="<%= bolo.id %>" class="removeBolo">| <%= bolo.description %> 
                        <div class="float-right">
                          <button type="submit" class="btn btn-danger">Remove Bolo</a>
                        </div>
                    </form>
                  </li>
              <%}) %>
              <% } else { %>
                <li class="list-group-item bg-dark text-light">
                  There're no active bolos.
                </li>
                <% } %>
            </ul>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="mt-2">
            <ul class="list-group mb-4" >
              <div class="active list-group-item text-light ">Quick Create Warrant</div>
              <form class="list-group-item bg-dark border-dark text-light " action="/cad/<%= cadId %>/officers/warrant" method="post">
                <div class="form-group">
                  <label for="name">Full Name</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control text-light border-secondary bg-secondary"
                    id="name"
                    aria-describedby="emailHelp"
                    placeholder="Full Name"

                  />
                </div>
                <div class="form-group">
                  <label for="From">Valid From</label>
                  <input
                    type="text"
                    name="d_from"
                    class="form-control text-light border-secondary bg-secondary"
                    id="From"
                    placeholder="Valid From"

                  />
                </div>
                <div class="form-group">
                  <label for="To">Valid To</label>
                  <input
                    type="text"
                    name="d_to"
                    class="form-control text-light border-secondary bg-secondary"
                    id="To"
                    placeholder="Valid To"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Details</label>
                  <input
                    type="text"
                    name="reason"
                    class="form-control text-light border-secondary bg-secondary"
                    id="exampleInputPassword2"
                    placeholder="Details"
                  />
                </div>
                  <button type="submit" class="container btn btn-success">Create Warrant</button>
              </form>
          </ul>
          </div>
        </div>
      </div>
  


    <!-- Modals -->
    <div class="modal fade" id="boloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Bolo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/cad/<%= cadId %>/officers/bolo" id="modal" method="post">
                <div class="form-group">
                    <label for="bolo">Bolo Description</label>
                    <textarea name="bolo_desc" id="bolo" cols="30" rows="5" maxlength="1800" required minlength="10" class="form-control" placeholder="Bolo Description, Min Length of 10 characters"></textarea>
                </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create Bolo</button>
      </div>
      </form>
        </div>
      </div>
    </div>
    <!-- Offence -->
    <div class="modal fade mx-auto" id="offenceCharge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog"  role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Offence/charge</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/cad/<%= cadId %>/officers/dash/offence" id="modal" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Charge/Offence</label>
                <input
                  type="text"
                  list="penals"
                  name="offence"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  required
                  placeholder="Penal Code"
                />
                <datalist id="penals">
                  <% penals.forEach(penal => {%>
                    <option value="<%= penal.title %>"></option>
                    <% }) %>
                </datalist>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="exampleInputPassword1"
                  required
                  placeholder="Name of subject"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Officer Name</label>
                <input
                  type="text"
                  name="officer_name"
                  class="form-control"
                  id="exampleInputPassword1"
                  required
                  placeholder="Name of officer"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Nearest Postal:</label>
                <input
                  type="text"
                  name="postal"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Nearest Postal (not required)"
                />
              </div>
            
              <div class="form-group">
                <label for="exampleInputPassword1">Notes:</label>
                <textarea name="notes" id="notes" cols="5" rows="5" class="form-control" placeholder="Notes (not required)"></textarea>
              </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create Offence/charge</button>
      </div>
      </form>
        </div>
      </div>
    </div>

    <!-- Name Search -->
    <div class="modal fade" id="nameSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Name Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/cad/<%= cadId %>/officers/search/name" id="modal" method="post">
                <div class="form-group">
                    <label for="bolo">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Search By Name">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </form>
        </div>
      </div>
    </div>

    <!-- Plate Search -->
    <div class="modal fade" id="nameSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Plate Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/cad/<%= cadId %>/officers/search/name" id="modal" method="post">
                <div class="form-group">
                    <label for="bolo">Plate</label>
                    <input type="text" class="form-control" min="1" max="8" maxlength="8" name="plate" id="name" placeholder="Search By Name">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </form>
        </div>
      </div>
    </div>

    <!-- Serial Number Search -->
    <div class="modal fade" id="nameSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Name Search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/cad/<%= cadId %>/officers/search/name" id="modal" method="post">
                <div class="form-group">
                    <label for="bolo">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Search By Name">
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </form>
        </div>
      </div>
    </div>

    <!-- Container -->
  </div>
<% } %>
