<%- include("../partials/header.ejs") %>



<div class="container">
    <h1 class="card-title text-center mt-3">Equinox Officers</h1>


    <ul class="list-group">
        <a href="/officers/dash" class="btn btn-primary">Police Dashboard</a>
        <a href="/officers/add" class="btn btn-primary mt-1">Add Officer</a>

        <% officers.forEach(value => { %>
        <li class="list-group-item mt-2">

            <%= value.id %> | <%= value.officer_dept %> | <%= value.officer_name %> | <%= value.officer_rank %>
        </li>
        <% }) %>
    </ul>
</div>