<%- include("../partials/header.ejs") %>

<a href="/officers/dash" class="btn btn-primary">Police Dashboard</a>

<h1 class="card-title">Equinox Officers</h1>

<div class="users-list">
    <ul class="list-group">
        <% officers.forEach(value => { %>
        <li class="list-group-item">

            <%= value.id %> | <%= value.officer_dept %> | <%= value.officer_name %>
            <!-- <a href="/officer/<%= value.id %>" class="btn btn-success float-right">More Info</a> -->
        </li>

        <% }) %>
    </ul>
</div>