<%- include("../partials/header.ejs") %>

<div class="container mt-3">
  <h1 class="card-title text-center mt-3 text-light">Police Dashboard - Plate Search</h1>
  <% if(messageG != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= messageG %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% } %>

  <ul class="list-group" id="searUL">
    <a href="/cad/<%= cadId %>/officers/dash" class="btn btn-primary mt-2 "
      >Police Dashboard</a
    >

    <input
      type="text"
      id="searhI"
      class="list-group-item uppercase text-light bg-dark mt-2"
      onkeyup="seardd()"
      placeholder="Search Plates"
    />

    <% plates.forEach(plate => { %>
    <li class="list-group-item mt-2 text-light bg-dark">
      <span class="uppercase"><%= plate.plate %></span>
      <a
        href="/cad/<%= cadId %>/officers/dash/search/plate/<%= plate.id %>-<%= plate.owner %>"
        class="btn btn-primary float-right"
        >More info</a
      >
    </li>
    <% }) %>
  </ul>
</div>

<div class="mb-4"></div>
<script>
  function seardd() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('searhI');
    filter = input.value.toUpperCase();
    ul = document.getElementById('searUL');
    li = ul.getElementsByTagName('li');
    for (i = 0; i < li.length; i++) {
      a = li[i];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = '';
      } else {
        li[i].style.display = 'none';
      }
    }
  }
</script>
