<%- include("../partials/header.ejs") %>

<div class="container mt-2">
  <% if (plates) { %>
  <h1 class="card-title text-center mt-3 text-light">
    Plate: <span class="uppercase"> <%= plates.plate %></span>
  </h1>
  <ul class="list-group">
    <a
      href="/cad/<%= cadId %>/officers/dash"
      class="btn btn-primary mb-2 cap list-inline "
      >back to dashboard</a
    >
    <li class="list-group-item name text-light bg-dark">
      <span class="bolder">Vehicle Owner:</span>
      <a
        href="/cad/<%= cadId %>/officers/dash/search/name/<%= name.id %>-<%= name.first_name %>-<%= name.last_name %> "
        ><%= plates.owner %></a
      >
      <% if (warrants !== undefined) {%>
      <p class="text-danger list-inline-item float-right">
        Warning: Person has a warrant!
      </p>
      <%} else {%> <% } %>
    </li>
    <li class="list-group-item text-light bg-dark">
      <span class="bolder"> Vehicle:</span> <%= plates.vehicle %>
    </li>
    <li class="list-group-item text-light bg-dark">
      <span class="bolder">Vehicle Color:</span>
      <span id="color"><%= plates.color %></span>
    </li>
    <li class="list-group-item text-light bg-dark">
      <span class="bolder">Insurance Status:</span>
      <span id="status"><%= plates.in_status %></span>
    </li>
    <li class="list-group-item list-inline text-light bg-dark">
      <span class="bolder">Drivers License:</span>
      <span id="dmv"><%= name.dmv %></span>
      <form
        action="<%= name.id %>-<%= name.first_name %>-<%= name.last_name %>/suspend"
        class="list-inline-item float-right text-light bg-dark"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Suspend License</button>
      </form>
    </li>
  </ul>
  <% } else { %>
  <h1 class="text-center text-light">
    Plate Not Found. Go Back
    <a href="/cad/<%= cadId %>/officers/dash">Here</a>.
  </h1>

  <% } %>
</div>

<script>
  let status = document.getElementById('status');
  if (status.textContent === 'Fake') {
    status.style.color = 'red';
  } else if (status.textContent === 'Stolen') {
    status.style.color = 'red';
  } else if (status.textContent === 'Invalid') {
    status.style.color = 'red';
  } else if (status.textContent === 'Expired') {
    status.style.color = 'red';
  } else if (status.textContent === 'Suspended') {
    status.style.color = 'red';
  } else {
    status.style.color = 'green';
  }

  let status2 = document.getElementById('dmv');
  if (status2.textContent === 'Fake') {
    status2.style.color = 'red';
  } else if (status2.textContent === 'Stolen') {
    status2.style.color = 'red';
  } else if (status2.textContent === 'Invalid') {
    status2.style.color = 'red';
  } else if (status2.textContent === 'Expired') {
    status2.style.color = 'red';
  } else if (status2.textContent === 'Suspended') {
    status2.style.color = 'red';
  } else {
    status.style.color = 'green';
  }
</script>
