<%- include("../partials/header.ejs") %>


<h1 class="card-title"> <%= result.plate %></h1>
<div class="users-list">
    <ul class="list-group">
        <li class="list-group-item">Full name:
            <%= result.owner %>
        </li>
        <li class="list-group-item">Vehicle: <%= result.vehicle %></li>
        <li class="list-group-item">Insurance Status: <%= result.in_status %></li>
    </ul>
</div>