<%- include("../partials/main/header.ejs") %>

<div class="container">
  <h1 class="card-title border-bottom">Stats</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5 class="card-title">Total Signed up users:</h5>
        <div class="col-sm">
          <h1 class="card-title"><%= users.length %></h1>
        </div>
      </div>
      <div class="col-sm">
        <h5 class="card-title">Total CAD's in use:</h5>
        <div class="col-sm">
          <h1 class="card-title"><%= cads.length %></h1>
        </div>
      </div>
      <div class="col-sm">
        <h5 class="card-title">/</h5>
        <div class="col-sm">
          <h1 class="card-title">/</h1>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Support Tickets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">CAD's</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="container mt-3" id="users" >
        <h1 class="card-title">All Users</h1>
        <ul class="list-group">
          <% users.forEach(user => { %>
          <li class="list-group-item">
            <%= user.username %> | <%= user.email %>
            <a
              class="float-right btn btn-primary"
              href="/admin/dashboard/<%= user.username %>"
              >More</a
            >
          </li>
          <%}) %>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="container mt-3" >
        <h1 class="card-title">Support Tickets</h1>
        <ul class="list-group">
          <% tickets.forEach(ticket => { %>
          <li class="list-group-item">
            <%= ticket.id %> | <%= ticket.title %>
            <a
              class="float-right btn btn-primary"
              href="/support/ticket/<%= ticket.ticket_id %>-<%= ticket.title %>"
              >More</a
            >
          </li>
          <%}) %>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="container mt-3" >
        <h1 class="card-title">Support Tickets</h1>
        <ul class="list-group">
          <% cads.forEach(cad => { %>
          <li class="list-group-item">
            <%= cad.id %> | <%= cad.cadID %>
            <a
              class="float-right btn btn-primary"
              href="/admin/cad/<%= cad.id %>"
              >More</a
            >
          </li>
          <%}) %>
        </ul>
      </div>
    </div>
  </div>

  

</div>

<script>
  function show() {
    $('#users').button('toggle').addClass('show')
  }
</script>
