<%- include("../partials/main/header.ejs") %>

<div class="container">
  <h1 class="card-title">CAD Ownerships</h1>
  <ul class="list-group">
    <% cads.forEach(cad => { %>
    <li class="list-group-item text-dark">
      <a href="/cad/<%= cad.cadID %>/"><%= cad.orderID %> | <%= cad.cadID %></a>
      <a href="/admin/expire-cad/<%= cad.cadID %>" class="btn btn-danger float-right">Expire CAD</a>
    </li>
    <%}) %>
  </ul>

  <button
    type="button"
    class="btn btn-primary modal-toggle mt-2"
    data-toggle="modal"
    data-target="#protfolio11"
  >
    Add CAD
  </button>

  <div
    class="modal fade"
    id="protfolio11"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            action="/admin/dashboard/<%= users.username %>/add-cad"
            method="post"
          >
            <h1 class="card-title">Add CAD to user</h1>
            <div class="form-group">
              <label for="exampleInputEmail1">OrderID</label>
              <input
              required
                type="text"
                name="orderID"
                class="form-control"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Cad ID</label>
              <input
              required
                type="text"
                name="cadID"
                class="form-control"
                id="id"
                aria-describedby="emailHelp"
              />
            </div>
            <h4 class="card-title" id="random">Random CAD ID: <%= IDs %></h4>
            <div class="form-group">
              <label for="exampleInputEmail1">Expire Date</label>
              <input
              required
                type="text"
                name="expire_date"
                class="form-control"
                placeholder="EG: 3/17/2020"
                aria-describedby="emailHelp"
              />
            </div>

        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      </div>
    </div>
  </div>

  
  <% if (users.expired === 'yes') {%>
  <form action="/admin/reactivate" class="mt-2 form-inline" method="POST">
    <ul class="list-group">
      <li class="list-group-item">
        <input
          type="text"
          class="form-control npe"
          name="username"
          value="<%= users.username %>"
        />
        <input
          type="text"
          class="form-control npe"
          name="cadID"
          value="<%= users.cadID %>"
        />
        <button type="submit" class="btn btn-success">Reactivate CAD</button>
      </li>
    </ul>
  </form>
  <%} else {%>
  <form action="/admin/expired" class="mt-2 form-inline" method="POST">
    <ul class="list-group">
      <li class="list-group-item">
        <input
          type="text"
          class="form-control npe"
          name="cadID"
          value="<%= users.cadID %>"
        />
        <button type="submit" class="btn btn-danger">Expire CAD</button>
      </li>
    </ul>
  </form>
  <% } %>
</div>

<script>
  let id = document.getElementById('id');
  let random = document.getElementById('random');
  random.style.display = 'none';

  if (id.value.length > 0) {
    random.style.display = 'none';
  } else {
    random.style.display = 'block';
  }
</script>
